.form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    label {
        font-size: 22px;
        padding: 5px 0;
        color: black;
        font-weight: 100;
    }
    input[type=text] {
        font-size: 18px;
        border: none;
        font-weight: 400;
        outline: none;
        padding: 5px;
        background-color: lightcoral;
        color: white;
        width: calc(100% - 10px);
        letter-spacing: 0.5px;
    }
    input[type=color] {
        border: none;
        outline: none;
        padding: 5px;
        background-color: lightcoral;
        color: white;
        width: 100%;
        letter-spacing: 0.5px;
        height: 40px;
    }
    input[type=checkbox] {
        display: none;
        & + label {
            cursor: pointer;
            user-select: none;
        }
        & + label + div {
            display: none;
        }
        &:checked + label + div {
            display: block;
            & + div {
                display: none;
            }
        }
    }
    .c {
       width: 40px;
       height: 40px;
       border-radius: 50%;
       background-color: lightcoral;
    }
    .s {
        width: 40px;
        height: 40px;
        background-color: lightcoral;
     }
}