.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    .bin {
        display: flex;
        width: 100%;
        max-width: 1200px;
        .box-1 {
            width: 40%;
            padding: 11px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .box-2 {
            width: 60%;
            padding: 11px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    }
}

.card {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid orangered;
    border-radius: 8px;
    .top {
        background-color: skyblue;
        font-size: 30px;
        font-weight: 700;
        color: white;
        letter-spacing: 2px;
        width: calc(100% - 40px);
        text-align: center;
        padding: 20px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    .body {
        color: orange;
        width: calc(100% - 40px);
        text-align: center;
        padding: 20px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}